:root {
    --primary: #d6d5d2;
    --secondary: #6d4b77e3;
    --bgColor: #eeeeee;
    --textColor: white;
    --headingColor: #001b2e;
    --linkColor: rgb(60, 14, 226);
    --hoverColor: #20272c;
    --button: #12a2bb;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all 0.20s;
}

body {
    position: relative;
    width: 100%;
    height: auto;
    background-color: var(--bgColor);
}

.web_content_wrap {
    position: relative;
    width: 100%;
    min-height: 100vh;
}

header {
    width: 100%;
    min-height: 45vh;
    background: var(--primary);
    z-index: 1;
}

header>div {
    margin-left: 15%;
}

header>hr {
    margin-left: 15%;
    margin-right: 15%;
}

.site_header {
    text-align: left;
}

.logo {
    padding-bottom: 15px;
    padding-top: 15px;
}

.site_header>nav {
    padding-bottom: 15px;
}

header nav {
    display: grid;
    grid-template-columns: 30% 50% 40%;
}

nav>li {
    list-style: none;
    padding: 5px;
    position: relative;
}

nav li a {
    font-size: 18px;
    color: var(--linkColor);
    text-decoration: none;
    text-transform: uppercase;
}

nav li:hover {
    background-color: var(--hoverColor);
}

nav li a:hover {
    color: white;
}

.active_link {
    background-color: var(--hoverColor);
}

.active_link a {
    color: white;
}

.categories {
    display: none;
}

nav>li:hover .categories {
    position: absolute;
    top: 5vh;
    left: 0;
    background-color: #7e7d7a;
    display: grid;
    grid-template-columns: 1fr;
    padding: 2%;
    display: block;
    z-index: 2;
    width: 100%;
}

.sort_by {
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr;
}

.sort_by>div {
    display: flex;
    justify-content: space-around
}

.categories>li {
    list-style-type: none;
    padding: 5%;
}

.categories>li>a {
    color: var(--linkColor);
    text-decoration: none;
}

.categories>li:hover {
    background-color: var(--hoverColor);
}

.categories>li>a:hover {
    color: white;
}

.main_nav {
    display: flex;
    justify-content: space-between;
}

.main_nav>div {
    margin-right: 18%;
    position: relative;
}

.main_nav>div>button {
    position: absolute;
    right: 0;
}

.site_header_article {
    margin-left: 30%;
    padding: 25px;
}

.site_header_article>article {
    width: 45%;
    min-height: 25%;
}

.site_header_article>h1 {
    font-size: 30px;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.search_bar {
    position: relative;
    margin-left: 15%;
    width: 25%;
}

.search_bar>input[type="search"] {
    width: 100%;
    height: 30px;
    padding: 5px;
}

main {
    width: 100%;
    display: block;
    z-index: 2;
    padding-top: 5%;
}

#home_main {
    background: url("images/background.png");
    filter: grayscale(0.5);
    background-size: cover;
}

#proverbs_main {
    width: 100%;
    display: block;
    z-index: 2;
}

#catalogue_main {
    width: 100%;
    display: block;
    z-index: 2;
}

main>.main_content_wrap,
main>.catalogue_content_wrap,
main>.proverbs_content_wrap {
    min-height: 100vh;
    margin: 1%;
}

.catalogue_categories {
    display: grid;
    grid-template-columns: 1fr;
    overflow: hidden;
    align-self: baseline;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.category_btn {
    display: none;
}

.category_btn_label {
    text-align: center;
    background: var(--button);
    color: var(--primary);
    cursor: pointer;
    padding: 15px;
    transition: background 0.1s;
}

.category_btn_label:not(:last-of-type) {
    border-bottom: 1px solid white;
}

.category_btn:checked+.category_btn_label {
    background-color: #0e6979;
}

main>footer {
    width: 100%;
    min-height: 20vh;
    padding-left: 10%;
    background-color: gray;
    padding: 25px;
    display: block;
}

main>footer .footer_main_content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.footer_main_content div {
    text-align: center;
}

main>footer>h1 {
    text-align: center;
}

main>footer .footer_copyright {
    display: block;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    margin-top: 1%;
}

.selected {
    background-color: gray;
}

.footer_list_container li a {
    text-decoration: none;
}

.footer_list_container li {
    list-style: none;
}

.main_content_wrap {
    position: relative;
}

#book_homepage {
    width: 40%;
    height: 35vh;
}

#book_homepage {
    position: absolute;
    left: 25%;
    top: 1%;
    width: 50%;
}

#book_homepage th,
#book_homepage td {
    padding: 2%;
    text-align: start;
}

.catalogue_content_wrap {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-gap: 0;
    position: relative;
}

body>tbody {
    text-align: center;
}

#catalogue_table {
    border-collapse: collapse;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.catalogue_tables_container {
    width: 80%;
    min-height: 100vh;
    position: relative;
}

#catalogue_table th,
#catalogue_table td {
    border: 1px solid black;
    width: 7%;
    padding: 15px;
}

#catalogue_table tr:nth-child(2n),
#book_homepage tr:nth-child(2n) {
    background-color: #7e7d7a;
}

#catalogue_table tr:nth-child(2n-1),
#book_homepage tr:nth-child(2n-1) {
    background-color: #d6d5d2;
}

#catalogue_table tr:first-of-type,
#book_homepage tr:first-of-type {
    background-color: rgb(137, 206, 206);
}

.catalogue_content_wrap div h3 {
    text-align: center;
    color: var(--headingColor);
    text-decoration: underline;
    font-weight: 750;
}

.proverbs_content_wrap {
    padding-top: 5vh;
    display: grid;
    grid-gap: 2%;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: repeat(4, minmax(8vh, auto));
}

.proverbs_content_wrap .proverb_wrap {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    padding: 15%;
}

.proverb_wrap:hover {
    background: var(--secondary);
    color: var(--primary);
}

.proverb_wrap #proverb_title {
    font-weight: 800;
}

.proverb_wrap #proverb_quote {
    font-style: italic;
}

#comment_block {
    position: fixed;
    bottom: 0;
    right: 0;
    background: var(--button);
    color: white;
    padding: 1%;
    border: none;
    cursor: pointer;
    transition: all 0.25s linear;
}

#comment_form {
    display: none;
    grid-template-columns: 1fr;
    position: absolute;
    top: 25vh;
    left: 50%;
    transform: translate(-50%);
    padding: 2.5%;
    background: gray;
}

.form_show {
    animation: zoomInUp 0.25s both;
}

.form_hide {
    animation: zoomOut 0.25s both
}

@keyframes zoomOut {
    from {
        opacity: 1;
    }
    50% {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }
    to {
        opacity: 0;
    }
}

@keyframes zoomInUp {
    from {
        opacity: 0;
        transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    60% {
        opacity: 1;
        transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    }
}

#comment_form>div {
    display: grid;
    grid-template-columns: 1fr;
    padding-bottom: 5%;
}

#comment_form div input[type="text"],
#comment_form div input[type="email"],
#comment_form div input[type="number"] {
    padding: 3%;
    border: 1px solid var(--secondary);
}

.form_btn {
    display: flex;
    grid-gap: 3%;
}

#comment_form button {
    padding: 1.5%;
    background: var(--button);
    width: 50%;
    text-align: center;
    border: none;
    cursor: pointer;
}

#comment_form button:hover {
    background-color: var(--hoverColor);
    color: var(--primary);
}

#date {
    position: fixed;
    bottom: 0;
    left: 0;
    background: gray;
    color: white;
    padding: 1%;
    border: none;
    pointer-events: none;
}

#required::after {
    content: " *";
    color: red;
    font-size: 1.2rem;
}