:root {
    --primary: #d6d5d2;
    --secondary: #6d4b77e3;
    --bgColor: #eeeeee;
    --textColor: white;
    --headingColor: #001b2e;
    --linkColor: rgb(60, 14, 226);
    --hoverColor: #20272c;
    --button: #12a2bb;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    position: relative;
    max-width: 100%;
    height: auto;
    background: white;
}

main {
    display: flex;
    position: relative;
    max-width: 100%;
    min-height: 100vh;
}

.nav-wrap {
    position: relative;
    width: 300px;
    height: inherit;
    background: gray;
    padding-left: 25px;
    padding-top: 40px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: all 0.5s;
}

.logo_container {
    padding: 0 5px 15px;
}

.nav-wrap li {
    position: relative;
    list-style-type: none;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.nav-wrap li button {
    position: relative;
    display: flex;
    width: 100%;
    color: white;
    border: none;
    background: none;
}

.nav-wrap li .icon {
    position: relative;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.nav-wrap li .icon i {
    font-size: 1.5rem;
}

.nav-wrap li button .title {
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    text-transform: uppercase;
    white-space: normal;
}

.nav-wrap li.active {
    background: white;
}

.nav-wrap li.active button {
    color: black;
}

.content-wrap {
    padding: 40px 25px;
    width: 100%;
    position: relative;
}

.content-div {
    width: inherit;
    min-height: fit-content;
    padding: 25px;
    display: none;
    position: relative;
    top: 120px;
}

.content-div #form {
    padding: 25px;
    box-shadow: 5px 3px 5px gray;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 500px;
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    background: gray;
}

#form .btn {
    display: block;
}

#form button {
    padding: 10px;
    background: var(--button);
    width: 200px;
    text-align: center;
    border: none;
    cursor: pointer;
}

#form button:first-of-type {
    margin-bottom: 3px;
}

#form button:hover {
    background-color: var(--hoverColor);
    color: var(--primary);
}

input[type="text"],
input[type="number"],
#select_category {
    width: 450px;
    padding: 8px;
    text-align: left;
}

input[type="text"] {
    font-size: 1rem;
    text-transform: capitalize;
}

.quote {
    display: flex;
}

textarea {
    width: 450px;
    height: 200px;
    padding: 10px;
    font-size: 1rem;
}

#request_table {
    border-collapse: collapse;
    border: none;
    width: 700px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

#request_table td {
    text-align: center;
    padding: 20px;
}

#t_head th {
    padding: 20px;
}

#request_table tr:first-of-type {
    background-color: rgb(137, 206, 206);
}

#request_table tr:not(:first-of-type):nth-child(2n) {
    background-color: #7e7d7a;
}

#request_table tr:not(:first-of-type):nth-child(2n-1) {
    background-color: #d6d5d2;
}

.content_head {
    position: absolute;
    top: 0;
    left: 0;
    padding: 45px;
    width: 100%;
    background: var(--secondary);
}

.content_head p {
    font-size: 1.3rem;
    text-transform: uppercase;
    text-align: center;
}